<div class="header">
  <div>
    <a href="/"><img src="/images/logo.png" alt="Travlr Getaways" class="logo"></a>
    <ul class="navigation">
      <li class="selected"><a href="/" class="">Home</a></li>
      <li><a href="/travel" class="">Travel</a></li>
      <li><a href="/rooms" class="">Rooms</a></li>
      <li><a href="/meals" class="">Meals</a></li>
      <li><a href="/news" class="">News</a></li>
      <li><a href="/about" class="">About</a></li>
      <li><a href="/contact" class="">Contact</a></li>
    </ul>
  </div>
</div>
