<header>
  <h1><a href="/">Travlr Getaways</a></h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/travel">Travel</a> |
    <a href="/rooms">Rooms</a> |
    <a href="/meals">Meals</a> |
    <a href="/news">News</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>
  </nav>
  <hr>
</header>
