<div class="row banner">
  <div class="col-12">
    <h1>{{title}}</h1>
    <small>&nbsp;</small>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8">
    <p>
      Welcome to Travlr Getaways, your gateway to unforgettable travel experiences.
      Discover amazing trips, resorts, and adventures curated just for you.
    </p>

    <div class="row mt-4">
      <div class="col-6 mb-3">
        <a href="/travel">
          <img src="/images/dive-site.png" alt="Travel" class="img-fluid">
        </a>
      </div>
      <div class="col-6 mb-3">
        <a href="/meals">
          <img src="/images/food.png" alt="Meals" class="img-fluid">
        </a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Why Travlr?</h4>
        <p class="card-text">
          Browse trips, view details, and plan your next getaway with ease.
          This site is powered by Express + Handlebars, and the admin app runs in Angular.
        </p>
      </div>
    </div>
  </div>
</div>
