<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1 class="site-title">Travlr Getaways</h1>
      <nav>
        <ul class="nav">
          {{#each nav}}
            <li><a href="{{this.url}}">{{this.text}}</a></li>
          {{/each}}
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>
  </body>
</html>
