{{> header}}
<div class="box">
					<div>
						<div class="body">

							<h1>{{pageTitle}}</h1>
							<p>Placeholder page for {{pageTitle}}. This route is wired through Express and rendered using an HBS template.</p></div>
					</div>
				</div>
			</div>
		</div>
{{> footer}}
